node_modules/
dist/
playwright-report/
allure-report/
.env
test-results/.last-run.json
test-results/login-Login-Functionality--1a6a2-an-log-in-and-see-dashboard/test-failed-1.png
test-results/login-Login-Functionality--1a6a2-an-log-in-and-see-dashboard/video.webm
test-results/.last-run.json
screenshots/login-success-1745911525775.png
test-results/.last-run.json
screenshots/login-success-1745926555705.png
screenshots/login-success-1746099457980.png
screenshots/login-success-1746099515789.png
allure-results/d5be2c27-9a0c-4be8-b6c0-e7bc3d76bfef-attachment.txt
allure-results/fff1dbb6-c9d5-420a-b5de-f439de8eed79-attachment.txt
allure-results/c7cb9279-e87e-4408-8a56-b0b32255d2ca-result.json
allure-results/43e75d25-145d-4714-b85c-f2fb4191e420-result.json
